.home-page {
    grid-column: 2/3;
    gap: 100px;

    .content-holder {
        flex-direction: column;
        margin-top: 150px;

        .content-wrapper {
            background-color: antiquewhite;
            padding: 30px;
            border-radius: 15px;

        }

        h1 {
            font-size: 30px;
        }

        p {
            font-size: 20px;
        }

        button,
        a {
            @include btn;
            align-self: flex-start;
        }



    }
}